.log {
    max-width: 20%;
    margin: 6rem auto 0 auto;
}

@media (max-width: 900px) {
    .log {
        max-width: 40%;
    }
}

@media (max-width: 600px) {
    .log {
        max-width: 75%;
    }
}