.reg {
    max-width: 20%;
    margin: 6rem auto 0 auto;
}

p {
    text-align: center;
}

@media (max-width: 900px) {
    .reg {
        max-width: 40%;
    }
}

@media (max-width: 600px) {
    .reg {
        max-width: 75%;
    }
}